/*================================
	商品紹介、設備紹介のcard
=================================*/
.cards{
  margin-top: 16px;
  padding-bottom: 24px;

  /* 768pxから横並び */
  @include mq('md'){
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @include mq('lg'){
    padding-bottom: 64px;
  }
}

.card{
  padding-top: 12px;

  img{
    width: 100%;
    margin-bottom: 8px;
    object-fit: cover;
  }

  /* 横並び表示のためのwidth調整 */
  @include mq('md'){
    width: calc(90% / 2);
  }
}

.card__title{
  text-align: center;
}